
NODE_ENV="development" 
PORT=5050         # development | production | staging
PROJECT_NAME="task_management"

MONGODB_URL=""

JWT_SECRET="61c137dfgdfg3d2172ea0022"
# Optional (default fallback আছে)
JWT_REFRESH_SECRET="2d1f2564ddf6sdfsdbd9f0ca794c59c2"
JWT_EXPIRES_IN="7d"              # e.g. 1d, 7d, 1h, 3600 etc.

DATABASE_HOST="localhost"
DATABASE_PORT="5433"
DATABASE_NAME="task_management"
DATABASE_USER="root"
DATABASE_PASSWORD="root"
# DATABASE_URL="postgresql://postgres:d9Yu2gSc*xLxs^3C1Rue@naria.cde4scgq826m.ap-south-1.rds.amazonaws.com:5432/flyghor_utils"
DATABASE_URL="postgresql://postgres:112233@127.0.0.1:5433/task_management"
# 
AWS_REGION="ap-south-1"
AWS_ACCESS_KEY_ID="AKIAWNsdfsdfJFYPK774Td"
AWS_SECRET_ACCESS_KEY="1HfLbH3wY3sdfsdfsdffLbH3wY3x8K3HfLbH3wY3x8K3"
AWS_S3_BUCKET="flyghor"
AWS_CLOUDFRONT_URL="https://d1k2q9xv7wzv8y.cloudfront.net"
# 
EMAIL_PROVIDER=gmail

# AWS SES SMTP
AWS_SES_USER_NAME="test"
AWS_SES_HOST=email-smtp.us-east-1.amazonaws.com
AWS_SES_PORT=587
AWS_SES_SECURE=false
AWS_SES_SMTP_USER_NAME="test"
AWS_SES_SMTP_PASSWORD="test"
DEFAULT_SENDER_EMAIL=nariaholidays2024@gmail.com
# 
# Gmail SMTP - only for local/dev/testing
NODEMAILER_AUTH_EMAIL="nariaholidays2024@gmail.com"
NODEMAILER_AUTH_PASS="lxdsvbtmukhbfgui"
GMAIL_SENDER_EMAIL="nariaholidays2024@gmail.com"
# 
REDIS_HOST=127.0.0.1
REDIS_PORT=6387
REDIS_PASSWORD="server@@??@2022"
REDIS_TLS=false
# REDIS_KEY_PREFIX="automation-service"
# 
REDIS_QUEUE_HOST=172.16.0.82
REDIS_QUEUE_PORT=6388
REDIS_QUEUE_PASSWORD="server@@??@2022"
REDIS_QUEUE_TLS=false
# REDIS_QUEUE_KEY_PREFIX="production:automation:queue" // app.config.ts in modified
REDIS_QUEUE_KEY_PREFIX="automation:queue"
REDIS_COMMAND_TIMEOUT_MS=20000
REDIS_CONNECT_TIMEOUT_MS=15000
# 
QUEUE_REMOVE_ON_COMPLETE=1000
QUEUE_REMOVE_ON_FAIL=5000
QUEUE_ATTEMPTS=5
QUEUE_BACKOFF_DELAY=3000
QUEUE_CONCURRENCY=5
QUEUE_LOCK_DURATION_MS=120000
QUEUE_STALLED_INTERVAL_MS=30000
QUEUE_MAX_STALLED_COUNT=1
QUEUE_LIMITER_MAX=100
QUEUE_LIMITER_DURATION_MS=1000
QUEUE_METRICS_MAX_DATA_POINTS=1000
IDEMPOTENCY_LOCK_TTL_MS=900000

# 
# pusher js - Development key
PUSHER_APP_ID="2080402"
PUSHER_KEY="a97d0291131b29ac0321"
PUSHER_SECRET="29fe6474d967e94b9e1b"
PUSHER_CLUSTER="ap3"
# CORS
CORS_CREDENTIALS=true
CORS_METHODS="GET,HEAD,PUT,PATCH,POST,DELETE,OPTIONS"
CORS_ALLOWED_HEADERS="Content-Type,Authorization,X-Requested-With,X-Request-Id"
CORS_EXPOSED_HEADERS="X-Request-Id"
CORS_MAX_AGE=86400
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001,http://127.0.0.1:3000,http://172.16.0.123:3000"



